<article class="{{post.post_class}} single-post-preview block" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <div class="layout-wrapper">
        <header class="single-post-preview__header">
            <h1 class="single-post-preview__title" itemprop="headline">
                <a href="{{post.link}}">
                    {{post.title}}
                </a>
            </h1>
            {% include 'partials/postmeta.twig' %}
        </header>
        <div class="single-post-preview__content" itemprop="text">
            {{post.get_preview(50, false, false)}}
        </div>
        <a href="{{post.link}}" class="button single-post-preview__button">Read More</a>
    </div>
</article>
