{% extends "base.twig" %}

{% block content %}
    <header class="article__header">
        {% if post.thumbnail.src %}
            <div class="article__header__image content-section" style="background-image: url({{post.thumbnail.src|resize(1920)}});"></div>
        {% endif %}
        {% if not hide_title %}
            <h1 class="article__header__title block content-section layout-wrapper">{{post.title}}</h1>
        {% endif %}
    </header>

    <div class="page-builder">
        {% for block in post.get_field('page_builder_blocks') %}
            {% if block.acf_fc_layout == 'content' %}
                <div class="block content-section">
                    <div class="block__inner content-section__content layout-wrapper">{{block.content}}</div>
                </div>
            {% elseif block.acf_fc_layout == 'highlighted_content' %}
                <div class="content-section block block--highlight">
                    <div class="block__inner content-section__content layout-wrapper">{{block.content}}</div>
                </div>
            {% elseif block.acf_fc_layout == 'separator' %}
                <div class="content-section block block--separator">
                    <div class="block__inner"></div>
                </div>
            {% elseif block.acf_fc_layout == 'banner' %}
                <div class="content-section block block--banner">
                    <div class="block__inner content-section__content layout-wrapper">
                        <h2>{{block.title}}</h2>
                        {{block.content}}
                    </div>
                </div>
            {% elseif block.acf_fc_layout == '2_columns' %}
                <div class="content-section block block--two-cols">
                    <div class="block__inner layout-wrapper">
                        {% for column in block.columns %}
                            {% if loop.index is divisible by (2) %}
                                {% set extra_class = ' even' %}
                            {% endif %}
                            <div class="block__double-column{{extra_class}}">{{column.content}}</div>
                        {% endfor %}
                    </div>
                </div>
            {% elseif block.acf_fc_layout == '3_columns' %}
                <div class="content-section block block--three-cols">
                    <div class="block__inner layout-wrapper">
                        {% for column in block.columns %}
                            {% if loop.index is divisible by (3) %}
                                {% set extra_class = ' third' %}
                            {% endif %}
                            <div class="block__triple-column{{extra_class}}">{{column.content}}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {# {{block|print_r}} #}
        {% endfor %}
    </div>
{% endblock %}
